:root {
    --primary: #00baf2;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}


* {

    font-family: "montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#event_description {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/hrz-5.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#disclainer h2,
#disclainer .event_date {
    color: #eb1ccc;
}

#disclainer h2 {
    font-size: 3em;
    margin: 1em;
}

#disclainer .about_event {
    font-size: 2em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

#disclainer p {
    font-size: 1.2em;
    margin-bottom: .3em;

}

#disclainer .event_date {
    font-weight: bold;
}

#subscrition_form {
    background-color: #95989a;
    padding: 2em;
    max-width: 22%;
}

#subscrition_form p {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 1em;
}

.form_group {
    display: flax;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form_group label {
    color: #5d5d5d;
    margin-bottom: 0.8em;
    font-weight: bold;
}

.form_group input,
.form_group select {
    padding: 6px 9px;
    border-radius: 5px;
    border: none;
}

.btn {

    color: #fff;
    background-color: #eb1ccc;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
}

.btn:hover {
    opacity: 8;
}


input:invalid+span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
    color: #8b0000;
}

input:valid+span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
    color: #009000;
}

#key-benefits h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500;

}

.benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0% auto;
}




.benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20px;
    color: var(--text-tertiary);
}

.benefit .benefit-img{
    width: 250px;
    height:250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;



}

#benefit-1{
    background-image: url(./img/sqr-1.jpg);
}

#benefit-2{
    background-image: url(./img/sqr-2.jpg);
}

#benefit-3{
    background-image: url(./img/sqr-3.jpg);
}

/* events location */

#location{
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/hrz-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    
}